{{ define "content" }}
<h2 class="m-0 font-weight-bold mb-4">Upload avatar</h2> 

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="">
            <form action="/campaigns/image/{{ .ID }}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="file">Upload file</label>
                    <input name="file" type="file" class="form-control-file" id="file" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{{ end }}