{{ define "content" }}
<h2 class="m-0 font-weight-bold mb-4">Data Campaigns</h2> 
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" id="myTable">
                <thead class="thead-light">
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Short Desc</th>
                        <th>Goal Amount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .campaigns }}
                    <tr>
                        <td width="60">
                            {{ if .CampaignImages}}
                            <img class="img-fluid img-thumbnail" 
                            src="/{{ (index .CampaignImages 0).FileName }}" width="100%" 
                            style="max-height:60px">
                            {{ end }}
                        </td>
                        <td>{{ .Name }}</td>
                        <td>{{ .ShortDescription }}</td>
                        <td>{{ .GoalAmountFormatIDR }}</td>
                        <td><a href="/campaigns/edit/{{ .ID }}"><i class="fa fa-edit"></i></a></td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready( function () {
        $('#myTable').DataTable();
    } );
</script>
{{ end }}